.env

# Terraform files to ignore
.terraform/
.terraform.lock.hcl
.terraform.tfstate.lock.info
terraform.tfstate
terraform.tfstate.backup

# Secrets and configs to ignore
secrets.auto.tfvars
kubeconfig.yaml
talosconfig.yaml
sealed-secrets-key.yaml